---
title: Sign In
slug: 'signin'
---

{% extends '../assets/templates/layout.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<section class="section">
      <div id="form">
          <div id="error" style="display:none">
              An error occurred trying to save your form. Please inform one of the TechKnights operations people in the room.
          </div>
          <input type="text" id="name" placeholder="Your name">
          <input type="text" id="email" placeholder="you@knights.ucf.edu">
          <button onclick="TechKnights.signIn()">Sign in</button>
      </div>
      <div id="success" style="display:none">
          You have successfully signed in. Enjoy the meeting!
      </div>
      <div id="loading" style="display:none">
          Loading...
      </div>
      <script>
        if (localStorage['name']) {
          document.getElementById('name').value = localStorage['name'];
        }
        if (localStorage['email']) {
          document.getElementById('email').value = localStorage['email'];
        }
      </script>
</section>
{% endblock %}
